<!-- portfolio_view.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>View Portfolio Item</title>
</head>
<body>
  <h1>Portfolio Item</h1>
  <h2><%= item.name %></h2>
  <p><%= item.description %></p>
  <a href="/">Back to List</a>
</body>
</html>